---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
AlignAfterOpenBracket: BlockIndent
# AlignAfterOpenBracket: Align
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReferenceAlignment: Left
IndentCaseLabels: true
AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: BeforeComma
BinPackParameters: false
