BasedOnStyle: LLVM 
IndentWidth: 4
Language: Cpp
#
# # BreakBeforeDefinitionKeywords: Always
# BreakTemplateDeclarations: Yes
# PointerAlignment: Left
# ReferenceAlignment: Left 
# AccessModifierOffset: -3
# DisableFormat: false
#
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterClass: true
#   AfterControlStatement: true
#   AfterEnum: true
#   AfterFunction: true
#   AfterNamespace: true
#   AfterObjCDeclaration: true
#   AfterStruct: true
#   AfterUnion: true
#   BeforeCatch: true
#   BeforeElse: true
#   IndentBraces: false
#
# AllowAllArgumentsOnNextLine: false
# AllowAllParametersOfDeclarationOnNextLine: true
# BinPackArguments: false
# BinPackParameters: false
# SpacesInAngles: true
# PackConstructorInitializers: NextLineOnly
# AllowShortBlocksOnASingleLine: false
# ColumnLimit: 80
# SpaceBeforeParens: ControlStatements
# BreakBeforeConceptDeclarations: Always
# RequiresClausePosition: SingleLine
# BreakBeforeTernaryOperators: true
#
# Cpp11BracedListStyle: true
# SpacesInContainerLiterals: true
#
# AlignAfterOpenBracket: BlockIndent
#
# BreakConstructorInitializers: BeforeComma
# AlwaysBreakAfterReturnType: TopLevelDefinitions
